.Subheader {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 90px;
    margin-right: 25px;
    margin-bottom: 50px;
    font-size: 25px;
    color: brown;
    height: 100px;
    width: 80%;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
}
